{% extends "layout.html" %}

{% block title %}
Apology
{% endblock %}

{% block main %}

<div style = "display: flex; align-items: center; justify-content: center;">
   <div style = "width: 300px; height: 300px; border: 1px solid #FA5F55; background-color: #FA5F55; border-radius: 50%; align-items: center; justify-content: center; display: flex; flex-direction: column;">
      <p style = "font-size: 30px; color: #FDFEFE; ">{{ top }}</p>
      <p style = "font-size: 20px; color: #FDFEFE; ">{{ bottom }}</p>
   </div>
</div>

{% endblock %}
