<!DOCTYPE html>
<html lang="en">

	<head>
		<!-- character encoding and viewport settings -->
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, width=device-width">
		<!-- import Google Font -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bebas+Neue">
		<title>The Gallerist</title>

		<!-- custom landing page style, just for sanity -->
		<style>
			body {
				height: 100vh;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				font-family: Sabon;
				color: #FA5F55;
			}

			p.title {
				margin: 0;
				font-family: 'Bebas Neue', sans-serif;
				font-size: 120px;
				color: #FA5F55;
				line-height: 0.7;
			}

			.link {
				font-family: Sabon;
				font-size: 35px;
				color: #FA5F55;
				margin: 0 100px 0 100px;
			}

			.block {
				margin: 10px 0 10px 0;
			}
		</style>

	</head>
	<body>
		<div class="block">
			<p style="font-size: 25px; font-style: italic;">Now, tell us what you really think.</p>
		</div>
		<div class="block">
			<p class="title">THE GALLERIST</p>
			<p class="title" style="color: #FCA09A;">THE GALLERIST</p>
			<p class="title" style="color: #FDD8D6;">THE GALLERIST</p>
		</div>
		<div class="block">
			<a class="link" href="/catalog">Catalog</a>
			<a class="link" href="/lucky">Feeling Lucky</a>
		</div>
	</body>
</html>
